* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4e3d7; /* Color cálido */
}

.Centrar {
    margin: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF3E0; /* Fondo cálido */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
}

label {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #FF6F61; /* Color cálido */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF8C42; /* Efecto hover cálido */
}
