* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E3F2FD; /* Azul claro */
}

.Centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 300px;
    background-color: #BBDEFB; /* Fondo azul suave */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 750px;
}

label {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #0D47A1; /* Azul oscuro */
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #90CAF9; /* Borde azul claro */
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #1976D2; /* Botón azul medio */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1E88E5; /* Efecto hover azul más claro */
}