<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/Style.css' %}">
    <title>Acortador</title>
</head>
<body>
    <div class="container">
        <form method="post" class="Centrar">
            {% csrf_token %}
            <input type="text" name="Link" placeholder="Link" required>
            <button type="submit" value="Enviar">Acortar</button>
        </form>
        {% if qr_image_url %}
        <div class="centrar">
            <div class="Resultado">
                <h2>Link Acortado</h2>
                <a href="{{ resultado }}" target="_blank">{{ resultado }}</a>
                <img src="{{ qr_image_url }}" alt="Código QR">
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>