<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acortador</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Links:</label>
        <input type="text" name="Link" placeholder="Coloca el Link">
        <input type="submit" value="Enviar">
    </form>
    {% if qr_image_url %}
        <h2>Tu código QR:</h2>
        <img src="{{ qr_image_url }}" alt="Código QR">
        <p>{{ resultado }}</p>
    {% endif %}
</body>
</html>